################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QuickJoiner.sln
/.vscode
/.vs
*.suo
*.user
_ReSharper.*
bin
obj
packages